.container{
	width: 1170px;
	margin: 0 auto;
}
.row{

}
.row:before, 
.row:after{
	display: table;
	content: " ";
} 

.row:after{
	clear: both;
}
.column-12 {
	width: 100%;
	float: left;
}
.column-11 {
	width: 91.66666667%;
	float: left;
}
.column-10 {
	width: 83.33333333%;
	float: left;
}
.column-9 {
	width: 75%;
	float: left;
}
.column-8 {
	width: 66.66666667%;
	float: left;
}
.column-7 {
	width: 58.33333333%;
	float: left;
}
.column-6 {
	width: 50%;
	float: left;
}
.column-5 {
	width: 41.66666667%;
	float: left;
}
.column-4 {
	width: 33.33333333%;
	float: left;
}
.column-3 {
	width: 25%;
	float: left;
}
.column-2 {
	width: 16.66666667%;
	float: left;
}
.column-1 {
	width: 8.33333333%;
	float: left;
}

 .column-offset-12 {
    margin-left: 100%;
  }
 .column-offset-11 {
    margin-left: 91.66666667%;
  }
 .column-offset-10 {
    margin-left: 83.33333333%;
  }
 .column-offset-9 {
    margin-left: 75%;
  }
 .column-offset-8 {
    margin-left: 66.66666667%;
  }
 .column-offset-7 {
    margin-left: 58.33333333%;
  }
 .column-offset-6 {
    margin-left: 50%;
  }
 .column-offset-5 {
    margin-left: 41.66666667%;
  }
 .column-offset-4 {
    margin-left: 33.33333333%;
  }
 .column-offset-3 {
    margin-left: 25%;
  }
 .column-offset-2 {
    margin-left: 16.66666667%;
  }
 .column-offset-1 {
    margin-left: 8.33333333%;
  }
 .column-offset-0 {
    margin-left: 0;
  }


.list-inline{
	margin: 0px;
	padding: 0px;
}
.list-inline li{
	list-style: none;
	float: left;
	margin-right: 10px;
}
.list-inline li:last-child{
	margin-right: 0px;
}
.pull-right{
	float: right;
}
.pull-left{
	float: left;
}
.text-center{
	text-align: center;
}