@media (max-width: 319px){

.result_form{
	padding: 40px 15px;
}
.jumbotron {
    padding: 70px 0px;
}
.navbar-inverse .navbar-brand {
    font-size: 13px;
}

.result_form h4{
	padding: 0px 5px
}


}

@media (min-width: 320px) and (max-width: 479px){

.result_form{
	padding: 40px 15px;
}
.jumbotron {
    padding: 70px 0px;
}
.navbar-inverse .navbar-brand {
    font-size: 14px;
}

.result_form h4{
	padding: 0px 5px
}


}


@media (min-width: 480px) and (max-width: 767px){
.jumbotron {
    padding: 70px 0px;
}
}

@media (min-width: 768px) and (max-width: 979px){
.jumbotron {
    padding: 80px 0px;
}
}

@media (min-width: 969px) and (max-width: 1169px){

}